* {
    font-family: "Verdana";
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 200px;
}

h2 {
    margin-bottom: 1.4rem;
    text-align: center;
    color: rgb(59, 58, 58);
}

#box-shadow-generator {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

#controls-container,
#preview {
    flex: 1;
    padding: 3rem;
}

/* Controls */
.form-control {
    display: flex;
    padding-bottom: 1.1rem;
    margin-bottom: 1.1rem;
    border-bottom: 1px dotted #ccc;
}

.form-control label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem; 
    color:#8c9690
}


.range-input input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 350px;
    height: 25px;
    border-radius: 5px 5px 5px 5px;
    background-color: #e4e4e4;
    outline:none;
    border: 1px solid #999;
    margin-top: 10px;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 21px;
    height: 21px;
    border-radius: 2px 2px 2px 2px;
    background-color: rgb(221, 57, 36);
    cursor: pointer;
}

.range-input input[type="color"] {
    margin-top: 10px;
    display: flex;
}

.reference-input {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.reference-input p {
    margin-left: 4px;    
}

.form-control input[type="text"] {
    height: 20px;
    width: 30px;
    margin-left: 10px;
    text-align: center;
 }

#color {
    width: 30px;
}

#color-value {
    width: 70px;
}

 /* PREVIEW */

 #box {
    width: 100%;
    height: 300px;
    background-color: #58b118;
 }


 /* GENERATION AREA */

 #generated-rule {
    width: 100%;
    text-align: center;
    
 }


 #generated-rule p{
    margin-bottom: 0.4rem;
 }
 

 #rules-area {
    background-color: rgb(230, 255, 221);
    padding:1.1rem;
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid #58b118;    
 }